proxmox_api_url          = "https://10.10.10.1:8006/api2/json"
proxmox_api_token_id     = "terraform-provider@pve!terraform-20201231"
proxmox_api_token_secret = "ffffffff-eeee-dddd-cccc-bbbbbbbbbbbb"
